
.menu{
  display: none;
}
.menu>.btn{
  font-size: 3.5rem;
}

@media(max-width:600px){
  .menu{
    display: block;
  }
}

.menu>.offcanvas{
  background-color:  #e4dcd8;
}

.menu>.offcanvas>.offcanvas-body>ul {

    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
  
}
.menu>.offcanvas>.offcanvas-body>ul>li>a {

    text-decoration: none;
    color: #000;
  
}

